cached-property==1.5.2
dnspython==2.4.2
greenlet==2.0.2
inflection==0.5.1
mypy-extensions==1.0.0
mysql-connector==2.2.9
neo4j==5.12.0
pandas~=2.0.3
py4j==0.10.9.7
pymongo==4.5.0
PyMySQL==1.1.0
pyspark==3.4.1
python-decouple==3.8
pytz==2023.3.post1
SQLAlchemy==2.0.21
sqlalchemy-orm==1.2.10
SQLAlchemy-Utils==0.41.1
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.8.0
